<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookie_computing.wastenomore" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/green_chart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrashCalc"
            android:label="@string/title_activity_trash_calc" >
        </activity>
        <activity
            android:name=".TrashResults"
            android:label="@string/title_activity_trash_results" >
        </activity>
        <activity
            android:name=".TrashFact"
            android:label="@string/title_activity_trash_fact" >
        </activity>
        <activity
            android:name=".TrashFact2"
            android:label="@string/title_activity_trash_fact2" >
        </activity>
    </application>

</manifest>
