<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookie_computing.wastenomore" >

    <uses-sdk android:minSdkVersion="11" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- <android:uses-permission -->
    <!-- android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18" /> -->
    <!-- <android:uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <android:uses-permission -->
    <!-- android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18" /> -->
    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/green_chart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Trash.ActivityTrashHome"
            android:label="@string/title_activity_trash_home" >
            android:parentActivityName="com.cookie_computing.wastenomore.ActivityHome" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.ActivityHome" />
        </activity>
        <activity
            android:name=".Trash.ActivityTrashCheckIn"
            android:label="@string/title_activity_trash_check_in"
            android:parentActivityName=".Trash.ActivityTrashHome" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Trash.ActivityTrashHome" />
        </activity>
        <activity
            android:name=".Trash.ActivityTrashResults"
            android:label="@string/title_activity_trash_results"
            android:parentActivityName=".Trash.ActivityTrashCheckIn" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Trash.ActivityTrashCheckIn" />
        </activity>
        <activity
            android:name=".Trash.ActivityTrashFact"
            android:label="@string/title_activity_trash_fact"
            android:parentActivityName=".Trash.ActivityTrashHome" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Trash.ActivityTrashHome" />
        </activity>
        <activity
            android:name=".Trash.ActivityTrashTrack"
            android:label="@string/title_activity_track_trash"
            android:parentActivityName=".Trash.ActivityTrashHome" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Trash.ActivityTrashHome" />
        </activity>
        <activity
            android:name=".Water.ActivityWaterHome"
            android:label="@string/title_activity_activity_water_home"
            android:parentActivityName=".ActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.ActivityHome" />
        </activity>
        <activity
            android:name=".Water.ActivityWaterCheckIn"
            android:label="@string/title_activity_activity_water_check_in"
            android:parentActivityName=".Water.ActivityWaterHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Water.ActivityWaterHome" />
        </activity>
        <activity
            android:name=".Water.ActivityWaterResults"
            android:label="@string/title_activity_activity_water_results"
            android:parentActivityName=".Water.ActivityWaterCheckIn" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Water.ActivityWaterCheckIn" />
        </activity>
        <activity
            android:name=".Water.ActivityWaterTrack"
            android:label="@string/title_activity_activity_water_track"
            android:parentActivityName=".Water.ActivityWaterHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Water.ActivityWaterHome" />
        </activity>
        <activity
            android:name=".ActivityAbout"
            android:label="@string/title_activity_activity_about"
            android:parentActivityName=".ActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.ActivityHome" />
        </activity>
        <activity
            android:name=".Water.ActivityWaterFact"
            android:label="@string/title_activity_activity_water_fact"
            android:parentActivityName=".Water.ActivityWaterHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Water.ActivityWaterHome" />
        </activity>
        <activity
            android:name=".Gas.ActivityGasHome"
            android:label="@string/title_activity_activity_gas_home"
            android:parentActivityName=".ActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.ActivityHome" />
        </activity>
        <activity
            android:name=".Gas.ActivityGasTrack"
            android:label="@string/title_activity_activity_gas_track"
            android:parentActivityName=".Gas.ActivityGasHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Gas.ActivityGasHome" />
        </activity>
        <activity
            android:name=".Gas.ActivityGasCheckIn"
            android:label="@string/title_activity_activity_gas_check_in"
            android:parentActivityName=".Gas.ActivityGasHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Gas.ActivityGasHome" />
        </activity>
        <activity
            android:name=".Gas.ActivityGasResults"
            android:label="@string/title_activity_activity_gas_results"
            android:parentActivityName=".Gas.ActivityGasCheckIn" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Gas.ActivityGasCheckIn" />
        </activity>
        <activity
            android:name=".Water.ActivityWaterTips"
            android:label="@string/title_activity_activity_water_tips"
            android:parentActivityName=".Water.ActivityWaterHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Water.ActivityWaterHome" />
        </activity>
        <activity
            android:name=".Gas.ActivityGasSavedCheckIn"
            android:label="@string/title_activity_activity_gas_saved_check_in"
            android:parentActivityName=".Gas.ActivityGasHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.Gas.ActivityGasHome" />
        </activity>
        <activity
            android:name=".Gas.ActivityChooseGasCheckIn"
            android:label="@string/title_activity_acitivity_choose_gas_check_in"
            android:parentActivityName=".Gas.ActivityGasHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.Gas.ActivityGasHome" />
        </activity>
        <activity
            android:name=".Gas.ActivityGasSavedResults"
            android:label="@string/title_activity_activity_gas_saved_results"
            android:parentActivityName=".Gas.ActivityGasSavedCheckIn" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.Gas.ActivityGasSavedCheckIn" />
        </activity>
        <activity
            android:name=".Gas.ActivityGasSavedTrack"
            android:label="@string/title_activity_activity_gas_saved_track"
            android:parentActivityName=".Gas.ActivityChooseGasTrack" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.Gas.ActivityChooseGasTrack" />
        </activity>
        <activity
            android:name=".Gas.ActivityChooseGasTrack"
            android:label="@string/title_activity_activity_choose_gas_track"
            android:parentActivityName=".Gas.ActivityGasHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cookie_computing.wastenomore.Gas.ActivityGasHome" />
        </activity>
    </application>

</manifest>
